@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  font-family: 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100%;
}
#root { 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar-custom .nav-link {
  color: black;
  font-family: 'Special Elite', cursive; 
  transition: color 0.3s ease, transform 0.3s ease; 
}


.navbar-custom .nav-link:hover {
  color: orange; 
  transform: scale(1.05); 
}

.footer {
  flex-shrink: 0;
}

.social-icon i, .social-icon {
  color: #E57600; 
}


.footer p {
  margin-right: 20px; 
}

h3{
  font-family: 'Special Elite', cursive !important;
}
.section1 {
  position: relative;
  z-index: 1;
}

.section1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../src/assets/immagini/sala\ bw.jpg'); 
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.text{
  font-size: 6rem;
  color: #E57600;
  font-family: 'Special Elite', cursive;
  padding-top: 2em;
  text-shadow: 6px 2px 14px black;
}
.text-container{
  height: 100%;
}

.separatore{
  display: inline-block;
  margin: 0 10px;
  align-self: center;
}
.img-home{
  width: 60%;
  padding-top: 2em;
}

/* CORSI */
.class-image{
  width: 20%;
}

.class-card{
  border: 2px solid #cfc8c8;
  border-radius: 20px;
  box-shadow: -3px 5px 10px 0 #444242cf;
  cursor: pointer;
}
.custom-btn {
  background-color: #E57600 ;
  border: none ;
  border-radius: 7px ; 
  font-family: 'Special Elite', cursive ;
  color: rgb(251, 250, 250) ; 
  padding: 8px 13px ;
  font-size: 1.5em ;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
}

.custom-btn:hover {
  background-color: #e06316 ; 
}

.carousel-image{
  border-radius: 35px;
}
.carousel-3d{
  width: 80%;
  margin: auto;
  border-radius: 35px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25), 0 12px 24px 0 rgba(0, 0, 0, 0.22);
}

/* TRAINER */
.trainer-container {
  position: relative;
  z-index: 1;
  margin-bottom: 15em;
}
.trainer{
  margin-bottom: -13rem;
  padding-bottom: 2em;
}

.trainer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../src/assets/immagini/sala\ bw.jpg'); 
  background-size: auto;
  background-position: center;
  z-index: -1;
}

.trainer-card{ 
  border: 1px solid rgba(255, 255, 255, 0.433);
  transition: border-color 0.5s ease, transform 0.3s ease,border-radius 0.3s ease ;
  box-shadow:  0 0 0 0 rgba(255, 165, 0, 0);
  border-radius: 10px; 
  overflow: hidden;
}
.card-img {
  border-radius: 10px;
  transition: border-radius 0.3s ease;
}
.bw-filter{
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.trainer-info{
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 0;
  transition: border-radius 0.3s ease;
}

.trainer-card:hover .bw-filter{
  filter: grayscale(0);
}

.trainer-card:hover .trainer-info{
  opacity: 1;
  border-radius: 0 0 10px 10px;
}

.trainer-card:hover .card-img {
  border-radius: 10px 10px 0 0; 
}

.trainer-card:hover{
  
  border: 3px solid #E57600;
  transform: scale(1.05);
  
}

.trainer-card:hover .card-title{
  color: #E57600;
}



/* PRODOTTI */
.picProdotto{
  width: 40%;
  margin-right: 1em;
}
.shop-container{
  margin-top: 6em;
  margin-bottom: 2em;
}

.card-prodotto{
  border: 2px solid #cfc8c8;
  border-radius: 20px;
  box-shadow: -3px 5px 10px 0 #444242cf;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-prodotto:hover{
  transform: scale(1.03);
  
}

.titolo-shop{
  font-family: "Special Elite";
}

 .custom-btn2 {
  background-color: #E57600 ;
  font-size: 1.2em !important;
  border: none ;
  border-radius: 7px ; 
  font-family: 'Special Elite', cursive ;
  color: rgb(251, 250, 250) ; 
  padding: 6px 13px ;
  font-size: 1.5em ;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
}

.custom-btn2:hover {
  background-color: #e06316 ; 
}

.cart-container{
  margin-top: 8em;
  margin-bottom: 3em;
}
.cart{
  width: fit-content;
}
 .i-custom{
  color: #E57600;
 }

/* card utente */
.user-page{
  margin-top: 8em;
}
.user-card {
  border: 2px solid #cfc8c8;
  border-radius:  20px;
  overflow: hidden;
  width: 300px; 
  box-shadow: -3px 5px 10px 0 #444242cf;
  margin: 20px auto;
  width: 420px;
}

.user-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.i-foto{
  color:#E57600;
  font-size: 27px
  
}
.i-label{
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
}
#file-upload{
  display: none;
}
.email{
  color: #E57600;
  
}

.user-btn {
  color: #E57600; 
  border-color: #E57600; 
  background-color: white; 
  border-radius: 15%;
  font-size: 1.5em;
  padding: 0.1em 1em;
}

.user-btn:hover {
  color: white; 
  background-color: #E57600; 
  border-color: #E57600; 
}


/* ABBONAMENTI */
.abb-container{
  margin-top: 15em;
  position: relative;
  z-index: 1;
}


.abb-container::before{
  content: "";
  position: absolute;
  top: 95px;
  right: 0;
  bottom:-180px;
  left: 0;
  background-image: url('../src/assets/immagini/sala\ bw.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.9; 
  z-index: -1;
}

.card .custom-btn2 {
  background-color: #E57600 ;
  border: none ;
  border-radius: 7px ; 
  font-family: 'Special Elite', cursive ;
  color: rgb(251, 250, 250) ; 
  padding: 8px 15px ;
  
  font-size: 1.2em ;
  
  display: inline-flex; 
  align-items: center;
  justify-content: center;
}

.card .custom-btn2:hover {
  background-color: #e06316 ; 
}

.abb-card {
  border: 2px solid #cfc8c8;
  border-radius:  20px;
  overflow: hidden;
  width: 300px; 
  box-shadow: -3px 5px 10px 0 #444242cf;
  margin: 20px auto;
  width: 420px;
}
.dettagli{
  color: #E57600;
  margin-bottom: 0.8em;
}

.abb-title{
  font-family: "Special Elite", cursive;
  font-size: 2em;
    text-decoration: underline;
    color: #E57600 !important;
    font-weight: bold;
}

.descrizione-abb{
  font-size: 1.5em ;
  font-family: "Source Code Pro", sans-serif;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.prezzo-abb{
  font-size: 2em;
  font-family: "Special Elite";
  font-weight: bold;
}
.class-card {
  transition: transform 0.3s ease;
}

.class-card:hover {
  transform: scale(1.05); 
}

/* CORSI */
.tabella-container{
  margin-top: 10em;
  position: relative;
  z-index: 1;
  padding-left: 3em !important;
  padding-right: 3em !important;
}
.tabella-container::before{
  content: "";
  position: absolute;
  top: 150px;
  right: 0;
  bottom:-140px;
  left: 0;
  background-image: url('../src/assets/immagini/sala\ bw.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.9; 
  z-index: -1;
}

.titolo-tab{
  font-family: "Special Elite", cursive;
  font-size: 1.5em;
  text-align: center;
  color: #E57600 !important;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: rgba(248, 163, 51, 0.488) !important;
}
.table{
  border-color: #ffffff !important ;
  cursor: pointer;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: -3px 5px 10px 0 #444242cf;
}
td{
  text-align: center;
  font-weight: bold;
}

/* ADMIN */
.admin-sections{
  margin-top:5em;
}

.link{
  text-decoration: none !important;
  color: #E57600 !important;
  font-family: "Special Elite", cursive;
}

.link:hover{
  transform: scale(1.05);
  color: black !important;
}

.admin-btn {
  color: #E57600; 
  border:none;
  background-color: transparent; 
  
  font-size: 1.2em;

}

.admin-btn:hover {
  color: black; 
   
}

.pagination{
  justify-content: center;
}

.custom-pagination .page-link {
  --bs-pagination-color: black; 
  --bs-pagination-bg: transparent;
  --bs-pagination-border-color: transparent; 
  --bs-pagination-hover-color: #E57600; 
  --bs-pagination-hover-bg: transparent; 
  --bs-pagination-hover-border-color: transparent;
  transition: transform 0.2s;
  outline: none;
}

.custom-pagination .page-link:focus {
  --bs-pagination-focus-bg: transparent; 
  --bs-pagination-focus-border-color: transparent; 
  box-shadow: none; 
}

.custom-pagination .page-link:hover {
  transform: scale(1.1); 
}

.custom-pagination .page-item.active .page-link {
  --bs-pagination-active-color: #E57600 ; 
  --bs-pagination-active-bg: transparent; 
  --bs-pagination-active-border-color: transparent; 
  transform: scale(1.1);
  font-weight: bold;
}