@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Elite&display=swap');

body {
  font-family: 'Roboto', sans-serif !important;
}
h3{
  font-family: 'Special Elite', cursive !important;
}
.section1 {
  position: relative;
  z-index: 1;
}

.section1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../src/assets/immagini/sala\ bw.jpg'); 
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.text{
  font-size: 6rem;
  color: #E57600;
  font-family: 'Special Elite', cursive;
  padding-top: 2em;
  text-shadow: 6px 2px 14px black;
}
.text-container{
  height: 100%;
}

.separatore{
  display: inline-block;
  margin: 0 10px;
  align-self: center;
}
.img-home{
  width: 60%;
  padding-top: 2em;
}

/* CORSI */
.class-image{
  width: 20%;
}

.class-card{
  border: 2px solid #cfc8c8;
  border-radius: 20px;
  box-shadow: -3px 5px 4px 0 #929090;
  cursor: pointer;
}
.custom-btn {
  background-color: #E57600 ;
  border: none ;
  border-radius: 7px ; 
  font-family: 'Special Elite', cursive ;
  color: rgb(251, 250, 250) ; 
  padding: 10px 20px ;
  font-style: italic ;
  font-size: 1.5em ;
  transform: skewX(-15deg);
  display: inline-flex; 
  align-items: center;
  justify-content: center;
}

.custom-btn:hover {
  background-color: #e06316 ; 
}

.custom-button > * {
  transform: skewX(10deg); 
}


/* GALLERIA */
.carousel-image{
  border-radius: 35px;
}
.carousel-3d{
  border-radius: 35px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25), 0 12px 24px 0 rgba(0, 0, 0, 0.22);
}

/* TRAINER */
.trainer-card{ 
  border: 2px solid transparent;
  transition: border-color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease ;
  box-shadow:  0 0 0 0 rgba(255, 165, 0, 0);
}
.card-img {
  border-radius: 20px 20px 0 0;
}
.bw-filter{
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  
  
}

.trainer-info{
  opacity: 0;
  transition: opacity 0.5s ease;
  
}

.trainer-card:hover .bw-filter{
  filter: grayscale(0);
}

.trainer-card:hover .trainer-info{
  opacity: 1;
}

.trainer-card:hover{
  border-color: #E57600;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 166, 0, 0.895);
  
}

.trainer-card:hover .card-title{
  color: #E57600;
}

.title-container {
  text-align: start; /* Allinea il testo a sinistra */
  background: linear-gradient(to right, black, transparent); /* Gradiente da nero a trasparente */
  padding: 1em; /* Aggiunge un po' di spazio intorno al testo */
}

.title {
  color: white; /* Imposta il colore del testo a bianco */
  margin: 0; /* Rimuove il margine di default dell'h2 se necessario */
}

.picProdotto{
  width: 40%;
  margin-right: 1em;
}

/* card utente */
.user-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 300px; /* Puoi modificare questa larghezza in base alle tue necessità */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 20px auto;
  text-align: center;
}

.user-card img {
  width: 100%;
  height: auto;
}

.user-card-details {
  padding: 20px;
}

.user-card-details p {
  margin: 10px 0;
}